<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'travel/css/stats_home.css' %}" rel="stylesheet">
    <link href=" {% static 'travel/css/stats_pages.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">

    <title>General</title>
</head>
<body>

<div style="background-color: #ff5f5f" class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-12 my_data_col">
            <h1 class="centered myfont">Total Days Traveling</h1>
            <br>
            <h1 class="centered myfont" style="font-size: 1000%;">{{day_traveled|safe}}</h1>
        </div>
        <div style="font-family: 'Patrick Hand SC', cursive;" class="col-lg-4 col-xs-12 my_data_col">
            <h3 style="text-align:center;"><b>9</b> Countries Visited</h3>
            <div class="row">
                <div class="col-xs-4 country centered"><img class="image" height="80" width="80" src=" {% static 'travel/img/spain.png' %}">
                    <div class="overlay">
                         <div class="text centered">Spain</div>
                    </div>
                </div>
                <div class="col-xs-4 country centered"><img height="80" width="80" src=" {% static 'travel/img/france.png' %}">
                    <div class="overlay">
                         <div class="text centered">France</div>
                    </div>
                </div>
                <div class="col-xs-4 country centered"><img height="80" width="80" src=" {% static 'travel/img/portugal.png' %}">
                    <div class="overlay">
                         <div class="text centered">Portugal</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-4 country centered">
                    <img height="80" width="80" src=" {% static 'travel/img/hungary.png' %}">
                    <div class="overlay">
                         <div class="text">Hungary</div>
                    </div>
                </div>
                <div class="col-xs-4 country centered"><img height="80" width="80" src=" {% static 'travel/img/romania.png' %}">
                    <div class="overlay">
                         <div class="text centered">Romania</div>
                    </div>
                </div>
                <div class="col-xs-4 country centered"><img height="80" width="80" src=" {% static 'travel/img/greece.png' %}">
                    <div class="overlay">
                         <div class="text centered">Greece</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-4 country centered"><img height="80" width="80" src=" {% static 'travel/img/turkey.png' %}">
                    <div class="overlay">
                         <div class="text centered">Turkey</div>
                    </div>
                </div>
                <div class="col-xs-4 country centered"><img height="80" width="80" src=" {% static 'travel/img/albania.png' %}">
                    <div class="overlay">
                         <div class="text centered">Albania</div>
                    </div>
                </div>
                <div class="col-xs-4 country centered"><img height="80" width="80" src=" {% static 'travel/img/italy.png' %}">
                    <div class="overlay">
                         <div class="text centered">Italy</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12 my_data_col">
            <div id="cities"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-12 my_data_col">
            <div id="countries" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
    </div>
</div>


{% load staticfiles %}
<script src=" {% static 'heartbeat/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src=" {% static 'softball/js/highcharts.js' %}" rel="stylesheet"></script>

<script>

Highcharts.chart('cities', {
    chart: {
        type: 'column',
        borderWidth: 0,
        backgroundColor: null,
        style: {
            fontFamily: "'Patrick Hand SC', cursive"
        }
    },
    title: {
        text: 'Cities Visited'
    },
     credits: {
        enabled: false
    },
    xAxis: {
        categories: {{city_list|safe}},
        crosshair: true,
        lineColor: '#000',
        tickColor: '#000',
        labels: {
         style: {
            color: '#000',
            fontFamily: "'Patrick Hand SC', cursive"
         }
        }
    },
    yAxis: {
        min: 0,
        lineColor: '#000',
        tickColor: '#000',
        title: {
            text: '# Of Days',
            style: {
            color: '#333'
            }
        },
        gridLineColor: 'black',
        labels: {
         style: {
            color: '#000',
            fontFamily: "'Patrick Hand SC', cursive"
         }
        }
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        data: {{city_day_count|safe}},
        color: "rgba(0, 0, 0, 0.75)",
        showInLegend:false

    }]
});

Highcharts.chart('countries', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: null,
        style: {
            fontFamily: "'Patrick Hand SC', cursive"
        }
    },
    title: {
        text: 'Countries Visited'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b> <br> Percent: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
        },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Days',
        colorByPoint: true,
        data: {{country_pie|safe}}
    }]
});


</script>

</body>
</html>