<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link href=" {% static 'heartbeat/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'travel/css/stats_home.css' %}" rel="stylesheet">
    <link href=" {% static 'travel/css/stats_pages.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">

    <title>Sleep</title>
</head>
<body>

<div style="background-color: #6b6bf5" class="container">
    <div style="font-family: 'Patrick Hand SC', cursive;" class="col-lg-5 col-xs-12 my_data_col">
        <div class="row">
            <div id="sleep_date" class="col-xs-12" style="height: 400px; width: 500px"></div>
        </div>
    </div>
    <div class="col-lg-7 col-xs-12 my_data_col">
        <div class="row">
            <div id="wake_radial" style="min-width: 310px; max-width: 400px; height: 400px; margin: 0 auto" class="col-xs-6 centered">
            </div>
            <div id="sleep_radial" style="min-width: 310px; max-width: 400px; height: 400px; margin: 0 auto" class="col-xs-6 centered">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 centered">
                Companion vs. City vs. Wake Time
            </div>
            <div class="col-xs-6 centered">
                Companion vs. City vs. Sleep Time
            </div>
        </div>
    </div>

</div>


{% load staticfiles %}
<script src=" {% static 'heartbeat/js/jquery-2.1.1.js' %}" rel="stylesheet"></script>
<script src=" {% static 'heartbeat/js/bootstrap.min.js' %}" rel="stylesheet"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>

Highcharts.chart('wake_radial', {
    chart: {
        polar: true,
        borderWidth: 0,
        backgroundColor: null,
        zoomType: 'xy'
    },
    title: {
        text: 'Wake Up Time'
    },
    pane: {
        startAngle: 0,
        endAngle: 360
    },
    xAxis: {
        tickInterval: 1,
        min: 0,
        max: 23,
        labels: {
            formatter: function () {
                return this.value + 'h';
            }
        }
    },
    yAxis: {
        min: 0
    },
    plotOptions: {
        column: {
            pointPadding: 0,
            groupPadding: 0
        }
    },
    legend: {enabled: false},
    exporting: { enabled: false },
    credits: {enabled: false},
    series: {{radial_wake|safe}}
});

Highcharts.chart('sleep_radial', {
    chart: {
        polar: true,
        borderWidth: 0,
        backgroundColor: null
    },
    title: {
        text: 'Sleep Time'
    },
    pane: {
        startAngle: 0,
        endAngle: 360
    },
    xAxis: {
        tickInterval: 1,
        min: 0,
        max: 23,
        labels: {
            formatter: function () {
                return this.value + 'h';
            }
        }
    },
    yAxis: {
        min: 0,
    },
    plotOptions: {
        column: {
            pointPadding: 0,
            groupPadding: 0
        }
    },
    legend: {enabled: false},
    exporting: { enabled: false },
    credits: {enabled: false},
    series: {{radial_sleep|safe}}
});

Highcharts.chart('sleep_date', {
    chart: {
        borderWidth: 0,
        backgroundColor: null
    },
    title: {
        text: 'Wake Up Time'
    },
    xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
            day: '%e of %b'
        }
    },
    yAxis: {
        title: {
            text: 'Time (hh:mm)'
        },
        labels: {
            formatter: function () {
                var time = this.value;
                var hours1=parseInt(time.toString().split(".")[0]);
                var mins1=parseInt(time.toString().split(".")[1]);
                if(isNaN(mins1)){mins1=0;}
                return hours1 + ':' + mins1;
            }
        }
    },
    exporting: { enabled: false },
    credits: {enabled: false},
    series: [{
        data: {{wake|safe}},
        pointStart: Date.UTC(2017, 5, 20),
        pointInterval: 24 * 3600 * 1000,
        name: "Wake",
        color: 'orange'
    },
    {
        data: {{sleep|safe}},
        pointStart: Date.UTC(2017, 5, 20),
        pointInterval: 24 * 3600 * 1000,
        name: "Sleep",
        color: 'black'
    }]
});

</script>

</body>
</html>