.table {
    color: black;
    background-color: grey;
    max-width: none;
}

.table-hover>tbody>tr:hover {
    background-color: black;
    color: #ddd;
    font-weight: 700;
}

.row {
margin-left: 0 !important;
margin-right: 0 !important;
}

.table th, .table td {
text-align: center !important;
}
