.round-border{
    position: fixed;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 65px;
    border-color: #f5f5f5;
    opacity: 0.9;
    background: #fbfbcf;
    border-radius: 150px;
}

.centered{
    text-align: center;
}

.definition{
    font-size: 30px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.pagination-centered{text-align:center;}

